snippet ! "HTML basic" b
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>${2:`!p snip.rv = snip.basename.replace('-', ' ').capitalize()`}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
	</head>
	<body>
		${0:body}
	</body>
</html>
endsnippet
